<section class="hero is-large" id="experience">
  <div class="hero-body">
      <!-- Title of section -->
    <span id="title">EXPERIENCE</span>
      <br><br><!--Break line added-->
    <!-- Sub title of section -->
    <span id="subtext">Designing Tomorrow's Solutions Today.🧩</span>

    <br><br><br><!--Break line added-->

    <div class="columns">
      <!-- First Column -->
      <div class="column">
        <div class="column-width gray-border align-c" id="deviceReps_col1">
          <br><!--breakline-->
          <p class="color-gray font-size-m font-bold">Frontend Development</p>
            <br><!--breakline-->

             <!-- Html and CSS -->
             <span class="font-size-s">
              <i class="fa-solid fa-circle-check fa-l color-black icon-pos-l" id="htmlIcon"></i><span class="font-bold color-black text-pos-l" id="htmlText">HTML</span>
              <i class="fa-solid fa-circle-check fa-l color-black"></i><span class="font-bold color-black text-pos-r" id="cssText">CSS</span>

                <br><!--breakline-->
                <span class="font-bold color-gray sub-text-pos-l" id="html_subtext">Experienced</span>
                <span class="font-bold color-gray sub-text-pos-r">Experienced</span>
            </span>
            
            <br><br><!--Break line added-->

            <!-- SCSS and Javascript -->
            <span class="font-size-s">
              <i class="fa-solid fa-circle-check fa-l color-black icon-pos-l" id="scssCheckIconLeft"></i>
              <span class="font-bold color-black text-pos-l" id="scssTextLeft">SCSS</span>

              <i class="fa-solid fa-circle-check fa-l color-black" id="jsCheckIconRight"></i>
              <span class="font-bold color-black text-pos-r" id="jsTextRight">Javascript</span>

                <br><!--breakline-->
                <span class="font-bold color-gray sub-text-pos-l basic-text-pos-r">Basic</span>
                <span class="font-bold color-gray sub-text-pos-r">Basic</span>
            </span>

            <br><br><!--Break line added-->

              <!-- Typescript and Material UI -->
              <span class="font-size-s">
                <i class="fa-solid fa-circle-check fa-l color-black icon-pos-l" id="tsCheckIconLeft"></i>
                <span class="font-bold color-black text-pos-l" id="tsTextLeft">Typescript</span>
  
                <i class="fa-solid fa-circle-check fa-l color-black" id="MUICheckIconLeft"></i>
                <span class="font-bold color-black text-pos-r" id="MUITextLeft">Material UI</span>
  
                  <br><!--breakline-->
                  <span class="font-bold color-gray sub-text-pos-l basic-text-pos-r">Basic</span>
                  <span class="font-bold color-gray sub-text-pos-r">Basic</span>
              </span>

              <br><br><!--Break line added-->

              <!-- Angular and VB.Net -->
              <span class="font-size-s">
                <i class="fa-solid fa-circle-check fa-l color-black icon-pos-l" id="ngCheckIconLeft"></i>
                <span class="font-bold color-black text-pos-l" id="ngTextLeft">Angular</span>
  
                <i class="fa-solid fa-circle-check fa-l color-black" id="vbCheckIconLeft"></i>
                <span class="font-bold color-black text-pos-r" id="vbTextLeft">VB.Net</span>
  
                  <br><!--breakline-->
                  <span class="font-bold color-gray sub-text-pos-l basic-text-pos-r">Basic</span>
                  <span class="font-bold color-gray sub-text-pos-r">Basic</span>
              </span>
              <br><br><br><!--Break line added-->
              <br><br><br><!--Another Break Line-->
        </div>
      </div>

      <!-- Second Column -->
      <div class="column column-pos-l">
        <div class="column-width gray-border align-c" id="deviceReps_col2">
          <br><!--Break line added-->
          <p class="color-gray font-size-m font-bold">Backend Development</p>

          <br><!--Break line added-->

           <!-- PHP and C# -->
           <span class="font-size-s">
            <i class="fa-solid fa-circle-check fa-l color-black icon-pos-l" id="phpIcon"></i>
            <span class="font-bold color-black text-pos-l" id="phpText">PHP</span>

            <i class="fa-solid fa-circle-check fa-l color-black" id="csIcon"></i>
            <span class="font-bold color-black text-pos-r" id="cs_Text">C#</span>

              <br><!--breakline-->
              <span class="font-bold color-gray sub-text-pos-l-back">Basic</span>
              <span class="font-bold color-gray sub-text-pos-r">Basic</span>
          </span>

          <br><br><!--Break line added-->

           <!-- Java and DB -->
           <span class="font-size-s">
            <i class="fa-solid fa-circle-check fa-l color-black icon-pos-l" id="javaCheckIconLeft"></i>
            <span class="font-bold color-black text-pos-l" id="javaTextLeft">Java</span>

            <i class="fa-solid fa-circle-check fa-l color-black" id="mngDBCheckIconLeft"></i>
            <span class="font-bold color-black text-pos-r" id="mngDBTextLeft">MangoDB</span>

              <br><!--breakline-->
              <span class="font-bold color-gray sub-text-pos-l-back">Basic</span>
              <span class="font-bold color-gray sub-text-pos-r">Basic</span>
          </span>

          <br><br><!--Break line added-->

          <!-- Express JS and Node Js -->
          <span class="font-size-s">
           <i class="fa-solid fa-circle-check fa-l color-black icon-pos-l" id="ExjsCheckIconLeft"></i>
           <span class="font-bold color-black text-pos-l" id="ExjsTextLeft">Express</span>

           <i class="fa-solid fa-circle-check fa-l color-black" id="NjsCheckIconLeft"></i>
           <span class="font-bold color-black text-pos-r" id="NjsTextLeft">Node JS</span>

             <br><!--breakline-->
             <span class="font-bold color-gray sub-text-pos-l-back">Basic</span>
             <span class="font-bold color-gray sub-text-pos-r">Basic</span>
         </span>

         <br><br><!--Break line added-->

          <!-- Python and Swing -->
          <span class="font-size-s">
           <i class="fa-solid fa-circle-check fa-l color-black icon-pos-l" id="pyCheckIconLeft"></i>
           <span class="font-bold color-black text-pos-l" id="pyTextLeft">Python</span>

           <i class="fa-solid fa-circle-check fa-l color-black" id="swingCheckIconLeft"></i>
           <span class="font-bold color-black text-pos-r" id="swingTextLeft">Swing</span>

             <br><!--breakline-->
             <span class="font-bold color-gray sub-text-pos-l-back">Basic</span>
             <span class="font-bold color-gray sub-text-pos-r">Basic</span>
         </span>

         <br><br><!--Break line added-->

          <!-- Aspn core and Git -->
          <span class="font-size-s">
           <i class="fa-solid fa-circle-check fa-l color-black icon-pos-l" id="aspnCheckIconLeft"></i>
           <span class="font-bold color-black text-pos-l" id="aspnTextLeft">ASPN Core</span>

            <br><!--breakline-->
            <span class="font-bold color-gray sub-text-pos-l-back" id="aspn-sub-text">Basic</span>
         </span>
         <br><br><!--Break line added-->
        </div>
      </div>
    </div>
  </div>
</section>