<section class="hero is-medium" id="contactme">
    <div class="hero-body">
        <!-- Title of section -->
        <span id="title">CONTACT ME</span>

        <br><br><!--Break line added-->

        <!-- Sub title of section -->
      <span class="color-black font-bold font-size-m" id="subtext">Feel free to connect with me. 😊</span>

      <br><br><!--Break line added-->

      <!-- Location  -->
      <i class="fa-solid fa-location-dot fa-2xl" id="locationPinIcon"></i>
      <span class="color-black font-size-s" id="locationText">
         South Africa, Eastern Cape, Uitenhage
      </span>

        <br><br><!--Break line added-->

      <!-- Email -->
      <i class="fa-solid fa-envelope fa-2xl" id="emailIcon"></i>
      <span class="color-black font-size-s" id="emailText">
        emmanualjanuarie240&#64;gmail.com
     </span>

     <br><br><!--Break line added-->

     <!-- Download resume -->
      <a href="../imgs/MyResume.pdf" download="MyResume.pdf" alt="resume">
     <button class="button is-dark" id="btnResume">Download Resume</button>
    </a>
    </div>
  </section>