<section class="hero is-large" id="portfolio">
    <div class="hero-body">
        <!-- Title of section -->
      <span id="title">PORTFOLIO</span>
        <br><br><!--Break line added-->
      <!-- Sub title of section -->
      <span id="subtext">Projects are akin to individual pieces of a larger puzzle.🧩</span>

      <!-- Home Horizon Angular Project -->
      <div class="project">
        <div class="columns column-pos" id="home_horizon">
            <div class="columns is-gap">
                <div class="column-image" ></div>
                <div class="column-text column-pos-r txt-column-width align-c" id="HomeHorizon_Col">
                    <!-- Title of text column -->
                    <span class="color-black font-bold font-size-m" id="H_htile">Home Horizon 🏠</span>
                    
                        <br><br><!--Breakline-->

                    <!--Subtext of column data-->
                    <span class="color-gray txt-width font-size-s" id="H_H_text">Home Horizon it's an online property rental app, which allows users to rent properties for personal or business uses . 
                        The website provides an interface for searching, retrieving data and comparing properties.</span>
                    
                        <br><br><!--Breakline-->

                    <!-- Tech stack -->
                    <span class="color-black font-bold font-size-s txt-spacing">Angular SCSS</span>

                        <br><br><br><!--Breakline-->

                    <!-- Repo and Live Demo -->
                    <span class="font-size-s a-txt-spacing">
                        <a class="color-black" href="#" alt="github repo for home horizon">Code<i class="fa-brands fa-github"></i></a>
                        <a class="color-black" href="#" alt="live demo"> Demo<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </span>

                </div>
              </div>
          </div>
      </div>


      <!-- Petopia Angular e-commerce Project -->
      <div class="project pos-top">
        <div class="columns column-pos" id="home_horizon">
            <div class="columns is-gap">
                <div class="column-text txt-column-width align-c" id="PetopiaText_col">
                    <!-- Title of text column -->
                    <span class="color-black font-bold font-size-m">Petopia 🐾</span>
                    
                        <br><br><!--Breakline-->

                    <!--Subtext of column data-->
                    <span class="color-gray txt-width font-size-s">Petopia is an e-commerce platform catering to pet enthusiasts. It provides a delightful shopping experience,
                         offering a variety of pet-related products such as accessories, premium pet food, and even opportunities to adopt furry companions.</span>
                    
                        <br><br><!--Breakline-->

                    <!-- Tech stack -->
                    <span class="color-black font-bold font-size-s txt-spacing">MongoDB Express</span>
                        <br><br><!--Breakline-->
                    <span class="color-black font-bold font-size-s txt-spacing">Angular Node</span>

                        <br><br><!--Breakline-->

                    <!-- Repo and Live Demo -->
                    <span class="font-size-s a-txt-spacing">
                        <a class="color-black" href="#" alt="github repo for Petopia horizon">Code<i class="fa-brands fa-github"></i></a>
                        <a class="color-black" href="#" alt="live demo"> Demo<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </span>
                </div>

                <!-- Column for image -->
                <div class="column-image column-pos-r" id="petopiaImage"></div>
              </div>
          </div>
      </div>

       <!-- Safe Zone Angular Project -->
       <div class="project" id="TrackItApp">
        <div class="columns column-pos" id="home_horizon">
            <div class="columns is-gap">
                <div class="column-image" id="safezoneImage"></div>
                <div class="column-text column-pos-r txt-column-width align-c" id="safezoneText_col">
                    <!-- Title of text column -->
                    <span class="color-black font-bold font-size-m">Safe Zone 🛡️</span>
                    
                        <br><br><!--Breakline-->

                    <!--Subtext of column data-->
                    <span class="color-gray txt-width font-size-s">Safe Zone is an intuitive online tool that empowers users to identify crime hotspots and safe areas based on their address.
                         By providing real-time data, it helps users make informed decisions about their surroundings.
                          The interface allows seamless searching and displays location-specific information.</span>
                    
                        <br><br><!--Breakline-->

                    <!-- Tech stack -->
                    <span class="color-black font-bold font-size-s txt-spacing">Angular Mat</span>

                        <br><br><!--Breakline-->

                    <!-- Repo and Live Demo -->
                    <span class="font-size-s a-txt-spacing">
                        <a class="color-black" href="#" alt="github repo for Safe Zone">Code<i class="fa-brands fa-github"></i></a>
                        <a class="color-black" href="#" alt="live demo"> Demo<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </span>

                </div>
              </div>
          </div>
      </div>

       <!-- Fresh Cuts Angular Project -->
       <div class="project pos-top" id="fresh_cuts">
        <div class="columns column-pos" id="home_horizon">
            <div class="columns is-gap">
                <div class="column-text txt-column-width align-c" id="SaFlightsText_col">
                    <!-- Title of text column -->
                    <span class="color-black font-bold font-size-m">SA Flights 🛫</span>
                    
                        <br><br><!--Breakline-->

                    <!--Subtext of column data-->
                    <span class="color-gray txt-width font-size-s">SA Flights, your go-to flight booking web app for South Africa, streamlines travel planning.
                         Users can effortlessly search for flights, compare prices, and secure bookings.
                         Additionally, real-time flight status updates keep travelers informed throughout their journey</span>
                    
                        <br><br><!--Breakline-->

                    <!-- Tech stack -->
                    <span class="color-black font-bold font-size-s txt-spacing">Angular SCSS</span>

                        <br><br><!--Breakline-->

                    <!-- Repo and Live Demo -->
                    <span class="font-size-s a-txt-spacing">
                        <a class="color-black" href="#" alt="github repo for Petopia horizon">Code<i class="fa-brands fa-github"></i></a>
                        <a class="color-black" href="#" alt="live demo"> Demo<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </span>
                </div>

                <!-- Column for image -->
                <div class="column-image column-pos-r" id="SaFlightsImage"></div>
              </div>
          </div>
      </div>

    </div>
  </section>