<!-- Dive container for Nav bar -->
<div class="navbar">
  <app-navbar></app-navbar>
</div>

<!--Div Container for home page-->
<div class="home-page-component">
  <app-home-page></app-home-page>
</div>


<!--Div Container for about page-->
<div class="about-page-component">
  <app-about-page></app-about-page>
</div>

<!-- Dive container for Experince page -->
<div class="experience-page-component">
  <app-experience></app-experience>
</div>

<!-- Dive Container for portfolio -->
<div class="portfolio-page-component">
  <app-portfolio></app-portfolio>
</div>

<!-- Dive Container for contact page -->
<div class="contact-page-component">
  <app-contact-page></app-contact-page>
</div>



