<section class="hero is-fullheight" id="home">
    <div class="hero-body">
      <div class="column-container">
        <div class="columns">
          <div class="column" id="title_subtitle_grp">
            <span id="main_sub_headings">
              <p class="font-sz-25 bold color-black mobile-font-size" id="home_title">Jnr.Software Developer</p>
              <!--Sub text-->
              <p class="color-gray" id="home_subtitle">Hi, i'm Emmanual Januarie. A passionate Software Developer based in South Africa, Eastern Cape. 
                <i class="fa-solid fa-map-pin" style="color: #d3886f;"></i>
              </p>
            </span>
          </div>
          <div class="column img-border"></div>
        </div>
      </div>

      <!-- Code for LinkedIn Icon -->
      <span>
        <a href="https://www.linkedin.com/in/emmanual-januarie-9ba580205?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BYcd5LzteTeyP%2BGw4nLZ7eA%3D%3D" alt="LinkedIn Profile" class="color-black">
          <i class="fa-brands fa-linkedin fa-2xl" id="LindedIn-icon"></i>
        </a>
      </span>

      <!-- Code for GitHub Icon -->
      <span>
        <a href="https://github.com/EmmanualJanuarie" alt="Github Profile" class="color-black">
          <i class="fa-brands fa-github fa-2xl" id="GitHub-icon"></i>
        </a>
      </span>
      
    </div>
  </section>
