<section class="hero is-medium" id="aboutme">
    <div class="hero-body">
      <div class="column-container">
        <div class="columns">
            <!-- Image column -->
            <div class="column img-size border-radius" id="column_img"></div>

            <!-- Second Column -->
            <div class="column" id="column_text">
               <span>
                 <!-- Title text -->
                 <p id="Title">ABOUT ME</p>

                 <!-- Subtitle text -->
                 <p id="Subtitle">A Passionate Full-Stack Software Developer based in South Africa, Eastern Cape.
                    <i class="fa-solid fa-map-pin" style="color: #d3886f;"></i>
                 </p>

                 <!--Subtext-->
                 <p id="subtext">
                    I'm a passionate full-stack developer with expertise in Angular, PHP, Python, and AI. From crafting seamless web apps to diving into machine learning, 
                    I thrive on turning ideas into reality.I'm also well-versed in HTML, CSS, JavaScript, Java, and C#. My skills extend to databases, 
                    where I design and optimize data structures for efficient storage and retrieval. Let's build something remarkable together! 🚀
                 </p>
               </span>

            </div>
          </div>
        
      </div>
    </div>
  </section>